$main: #656464;
$secondary:#E5E5E5;
$navy: #0A093D;
$blue: #217BF4;
$blue-sky:#E5F0FD;
$light-navy:#171648;
$purple:#2F2C4A;
$dark-purple:#20202D;
$gray:#2B2B39;
$light-gray:#5D5B70;
$lighter-gray:#4A4A56;
$main-sec-gradient:linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
$feature-sec-gradient:linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);


// breakpoints
$xsmall: 425px;
$small: 576px;
$medium: 768px;
$large: 1024px;
