/* ABOUT SECTION */
.about{
    padding-top: 130px;
    &__content{
        display: flex;
        align-items: flex-start;
        li{
            padding-left: 30px;
            list-style-type: none; 
            font-size: 18px;
            font-weight: 500;
            color:$light-navy;
           
        }
        ul li{
            background-image: url(/assets/listicon.svg);
            background-repeat: no-repeat;
            margin-bottom: 16px;
            line-height: 18px;
        }
    }
    &__main{
        margin-top: 62.5px;
        margin-right:200px;
    }
    &__main-title{
        color:$blue;
        font-weight: 500;
        line-height: 18px;
        font-size: 18px;
        margin-bottom: 10px;

    }
    &__header{
        color:$navy;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;

    }
    &__paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:$main;
    margin-bottom: 36px;

    }
    &__cards{
        display: flex;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 55px;
    }
    &__vid{
        margin-right: 29px;
        margin-top: 70px;
    }
    &__img1{
        margin-bottom: 32px;
    }
}
@media only screen and (max-width: $large) {
    .about {
        padding-left: 30px;
        padding-right:30px;
        &__main{
            margin-top: 0;
        }
        &__content {
            display: flex;
            flex-direction: column;
        }
        &__imgs{
            display: flex;
            flex-direction: column;
        }
        &__cards{
            margin-left: auto;
            margin-right: auto;    
        }
    }
}
@media only screen and (max-width: $medium) {
    .about {
        padding-top: 40px;
        li{
            font-size: 14px;
        }
        ul li{
        margin-bottom: 10px;
        }
        &__main{
            margin-top: 0;
            margin-right: 0px;
        }
        &__main-title{
            font-size: 14px;
        }
        &__header{
            font-size: 38px;
            max-width: 70%;
            line-height: 1;
        }
        &__paragraph{
            font-size: 14px;
            margin-bottom: 15px;
        }

        &__cards{
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;   
            width: 100%;
            height: auto;          
            
        }
        
        &__imgs{
        display: flex;
        flex-direction: row;
        align-items: center;
            // margin-left: auto;
        margin-right: auto;    
            // width: 100%;
        height: auto;       
        width: 100%;
        }
        &__imgs img{
            width: 100%;
            height: auto;          

        }
        &__vid{
            margin-bottom: 20px;
            margin-right: 0;

        }

        
        &__img1{
            margin-bottom: 0;
            margin-right: 20px;
            width: 100%;
            height: auto;          

        }
        &__img2{
            width: 100%;
            height: auto;    
        }
        }
}

@media only screen and (max-width: $small) {
    .about {
        &__header{
            font-size: 28px;
            max-width: 100%;
        }

        &__imgs {
            justify-content: center;
            display: flex;
            flex-direction: row;
            width: 50%;
            height: auto;
            margin: 0 0 0 0 ;
        }
        &__img1{
            margin-right: 15px;

        }

        &__vid {
            margin-top: 25px;
            margin-bottom: 15px;
        }
        &__vid img {
            height: 300px !important;
            width: 100%;
        }
    }
}

/* ABOUT SECTION */
