@use 'helpers/variables' as *;
@use 'base/fonts';
@use "helpers/normalize";
@use "base/reset";
@use "base/typography";


.container{
    width:100%;
    max-width: 1170px;
    margin:0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.hidden{
    display:none;
}
%blueshadow{
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}
%hover {
    color: $blue;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;    
}

/* NAVBAR */
.main-sec-bg{
    background: $main-sec-gradient;
}
.nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px; 
    padding-bottom: 18px;
    border-bottom: 1px solid rgb(33, 123, 244,0.1);
    
        &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        font-weight: 500;
        font-size: 14px;

        }

        &__main{
            margin-left: 72px;
            margin-right: 32px;
            font-weight: 600;
            color:$gray;
        }

        &__link{
            font-weight: 500;
            margin-right:32px;
            color:$main;
        }
        &__link:hover{
            @extend %hover;
        }
        &__main:hover{
            @extend %hover;
        }

        &__lefteye{
            display: flex;
            align-items: center;
        }
        &__righteye-search{
            transform: translateY(7px);
            border-bottom: 1px solid $secondary;
            margin-right: 42px;
            input {
                margin-bottom: 18px;
                border: none;
                background-color: transparent;
                resize: none;
                outline: none;
                max-width: 105px;
                font-size: 14px;
                font-weight: 400;
            }              
        }
        &__righteye-search::after{
            margin-bottom: 18px;

        }

        &__righteye{
            display: flex;
            align-items: center;
        }
        &__btn {
            a{
                background-color: $blue;
                padding: 18px 44px 18px 44px;
                color:white;
                font-size: 12px;
                font-weight: 600;
                border-radius: 14px;
                @extend %blueshadow
    
            }
                    }

}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: $medium) {
    .nav {
        &__menu {
            position: fixed;
            left: -100%;
            top: 5rem;
            flex-direction: column;
            background: $main-sec-gradient;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
        }
        
        &__righteye {
            display: none;
        }
    
        &__link {
            margin-left:0px;
            margin-right:0px;
        }
        
        &__main{
            margin-left:0px;
            margin-right:0px;
        }
        &__menu.active {
            left: 0;
            position: absolute;
        }
    
        &__item {
            margin: 1.5rem 0;
            text-align: center;
        }
    
    
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: $large) {
    .nav {
        padding-left: 30px;
        padding-right: 30px;
    }
}


@media only screen and (max-width: 890px) {
    .nav__righteye-search {
        display: none;
    }
}

    /* NAVBAR */

/* HERO SECTION */
.hero{
    padding-top: 72px;
    padding-bottom:82.5px;
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__main-title{
        margin-right: 69px;
    }

    &__rectangle {
        color:$blue;
        padding: 12px 30px 12px 30px;
        background-color: rgb(33, 123, 244,0.1);
        border-radius: 8px;
        margin-bottom: 20px;
        margin-top:53px;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        max-width: 120px;
    }

    &__header {
        color:$navy;
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 18px;
        line-height: 66px;
    }

    &__paragraph {
        color:$main;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 42px;
    }
    &__btns{
        display: flex;
    }
    &__btns a {
        @extend %blueshadow;
        padding:24px 42px 24px 42px;
        border-radius: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        
    }
    &__leftbtn{
        margin-right:18px;
        background: $blue;
        color:white;
    }
    &__rightbtn{
        border: 1px solid $blue;
        color:$blue;
    }
}

@media only screen and (max-width: $large) {
    .hero {
        padding-left: 30px;
        padding-right:30px;
        &__content {
            display: flex;
            flex-direction: column;
        }
        &__content img {
            width: 100%;
            height: auto;      
            }
        &__img {
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media only screen and (max-width: $medium) {
.hero{
    padding-top:10px
}
}

@media only screen and (max-width: $small) {
    .hero{
        padding-top: 0px;
        
        &__header {
            font-size: 38px;
            line-height: 1;
        }
        &__paragraph {
            font-size: 14px;
            line-height: normal;
        }
        &__btns a {
            padding:14px 22px 14px 22px;
            border-radius: 14px;
            font-weight: 500;
            font-size: 12px;
            line-height: 1;
            
        }
    
    }
}

@media only screen and (max-width: $xsmall) {
    .hero{
        padding-top: 0px;
        &__rectangle {
            margin-top: 30px;
        }
        &__main-title {
            margin-right: 0px;
        }
        &__header{
            margin-bottom: 8px;
        }
        &__paragraph{
            margin-bottom: 24px;
        }
    }
}
/* HERO SECTION */

/* ABOUT SECTION */
    .about{
        padding-top: 130px;
        &__content{
            display: flex;
            align-items: flex-start;
            li{
                padding-left: 30px;
                list-style-type: none; 
                font-size: 18px;
                font-weight: 500;
                color:$light-navy;
               
            }
            ul li{
                background-image: url(/assets/listicon.svg);
                background-repeat: no-repeat;
                margin-bottom: 16px;
                line-height: 18px;
            }
        }
        &__main{
            margin-top: 62.5px;
            margin-right:200px;
        }
        &__main-title{
            color:$blue;
            font-weight: 500;
            line-height: 18px;
            font-size: 18px;
            margin-bottom: 10px;

        }
        &__header{
            color:$navy;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 16px;

        }
        &__paragraph{
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color:$main;
        margin-bottom: 36px;

        }
        &__cards{
            display: flex;
            align-items: flex-start;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 55px;
        }
        &__vid{
            margin-right: 29px;
            margin-top: 70px;
        }
        &__img1{
            margin-bottom: 32px;
        }
    }
    @media only screen and (max-width: $large) {
        .about {
            padding-left: 30px;
            padding-right:30px;
            &__main{
                margin-top: 0;
            }
            &__content {
                display: flex;
                flex-direction: column;
            }
            &__imgs{
                display: flex;
                flex-direction: column;
            }
            &__cards{
                margin-left: auto;
                margin-right: auto;    
            }
        }
    }
    @media only screen and (max-width: $medium) {
        .about {
            padding-top: 40px;
            li{
                font-size: 14px;
            }
            ul li{
            margin-bottom: 10px;
            }
            &__main{
                margin-top: 0;
                margin-right: 0px;
            }
            &__main-title{
                font-size: 14px;
            }
            &__header{
                font-size: 38px;
                max-width: 70%;
                line-height: 1;
            }
            &__paragraph{
                font-size: 14px;
                margin-bottom: 15px;
            }

            &__cards{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;   
                width: 100%;
                height: auto;          
                
            }
            
            &__imgs{
            display: flex;
            flex-direction: row;
            align-items: center;
                // margin-left: auto;
            margin-right: auto;    
                // width: 100%;
            height: auto;       
            width: 100%;
            }
            &__imgs img{
                width: 100%;
                height: auto;          

            }
            &__vid{
                margin-bottom: 20px;
                margin-right: 0;

            }

            
            &__img1{
                margin-bottom: 0;
                margin-right: 20px;
                width: 100%;
                height: auto;          

            }
            &__img2{
                width: 100%;
                height: auto;    
            }
            }
    }

    @media only screen and (max-width: $small) {
        .about {
            &__header{
                font-size: 28px;
                max-width: 100%;
            }

            &__imgs {
                justify-content: center;
                display: flex;
                flex-direction: row;
                width: 50%;
                height: auto;
                margin: 0 0 0 0 ;
            }
            &__img1{
                margin-right: 15px;

            }

            &__vid {
                margin-top: 25px;
                margin-bottom: 15px;
            }
            &__vid img {
                height: 300px !important;
                width: 100%;
            }
        }
    }

/* ABOUT SECTION */

/*ACHIEVMENT SECTION*/
.achievment {
padding-top: 75px;
padding-bottom:130px;
    &__content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    }
    &__card1{
        box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
        border-radius: 14px;
        padding: 42px 18px 40px 44px;
        margin-right: 24px;
        
    }
    &__rating {
        margin-bottom: 36px;
        img{
            margin-right: 10px;
        }
        h1{
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            color:$navy;
        }
        display: flex;
        align-items: center;
    }
    &__members{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        img{
            margin-right:16px;
        }
        h1{
            span{
                font-weight: 500;
                color:$light-gray;
            }
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
            color:$blue;
        }
        
    }
    &__paragraph{
        color:$gray55;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 40px;
    }
    a {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        color:$blue;
    }
    &__card2{
        border: 1px solid rgba(146, 165, 184, 0.14);
        box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
        box-sizing: border-box;
        border-radius: 14px;
        padding: 42px 18px 40px 44px;

        a {
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            color:$lighter-gray;
        }    
    }
    &__trophy {
        margin-bottom: 36px;
        img{
            margin-right: 10px;
        }
        h1{
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            color:$navy;
        }
        display: flex;
        align-items: center;
    }
    &__github{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        img{
            margin-right:16px;
        }
        h1{
            span{
                font-weight: 500;
                color:$blue;
            }
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            color:$light-gray;
        }
        
    }
    &__paragraph{
        color:$gray55;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 40px;
    }
    &__card3{
        margin-left: 93px;
    }
    &__btn{
        span{
            font-size: 14px;
        }
        padding: 20.6px 37.5px 20.6px 37.5px;
        background-color: $blue;
        color:white;
        border-radius: 14px; 
        border: 0px;
        @extend %blueshadow;   
      }

    &__header{
        color:$navy;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 18px;
        }
    &__main-title{
        color:$blue;
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 10px;
        
    
    }
    &__text{
        padding-bottom:38px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color:$main;
    }
    &__cards{
        display: flex;
    }
}
@media only screen and (max-width: $large) {
    .achievment {
        padding-left: 30px;
        padding-right:30px;
        &__content{
            display: flex;
            flex-direction: column;
        }
        &__card3 {
            margin-left: 0px;
            margin-top: 50px;
        }
    } 

}
@media only screen and (max-width: $small) {
    .achievment {
        padding-top: 0;
        &__cards{
            flex-direction: column;
            padding: 0 30px 0 30px;
        }
        &__card1{
            margin-right: 0px;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: $xsmall) {
    .achievment {

        &__cards{
            padding: 0 0 0 0;
        }
        &__main-title{
            font-size: 16px;
        }
        &__header{
            font-size: 30px ;
            line-height: 1;
            margin-bottom: 12px;
        }
        &__text{
            font-size: 14px;
            line-height: 1;
            padding-bottom: 30px;
        }
        &__btn{
            padding: 20px 30px 20px 30px;  
        }
    }
}
/*ACHIEVMENT SECTION*/

